body {
  background-color: #e6e6fa;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2000px, 1 fr));
  grid-gap: 10px;
  padding: 0;
  list-style-type: none;
}

/*removes bullet points from list*/
.button {
  list-style-type: none;
}

.list-button {
  background-color: #fff;
  width: 15em;
  height: 50px;
  border-radius: 5px;
  color: black;
  text-align: left;
  border: #000 solid 1px;
  cursor: pointer;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* Add desired CSS styles here */
  display: block;
}